#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp TAB         &kp Q         &kp W      &kp E     &kp R     &kp T                                                            &kp Y     &kp U      &kp I    &kp O          &kp P            &kp COLON
&kp LCTRL       &kp A         &kp S      &kp D     &kp F     &kp G      &kp DOWN_ARROW  &kp LEFT                              &kp H     &kp J      &kp K    &kp L          &kp LBKT         &kp RBKT
&kp LEFT_SHIFT  &kp Z         &kp X      &kp C     &kp V     &kp B      &kp INT4        &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT  &kp N     &kp M      &kp DOT  &kp BACKSLASH  &kp RSHFT        &kp RCTRL
&kp LWIN        &kp LEFT_ALT  &kp SPACE  &kp LALT  &kp LGUI  &kp ENTER                                                        &kp BSPC  &kp ENTER                          &kp K_SCROLL_UP  &kp K_SCROLL_DOWN
&kp ESC         &kp N1        &kp N2     &kp N3    &kp N4    &kp N5     &kp UP          &kp RIGHT                             &kp N6    &kp N7     &kp N8   &kp N9         &kp N0           &kp MINUS
            >;
        };

        layer_1 {
            bindings = <
&none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                &none  &none                &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
